/* GLOBAL RESET */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* COLOR VARIABLES */

:root {

    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --veryDarkBlue: hsl(217, 54%, 11%);
    --mediumDarkBlue: hsl(216, 50%, 16%);
    --darkBlue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--veryDarkBlue);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card {
    width: 350px;
    background-color: var(--mediumDarkBlue);
    padding: 20px;
    border-radius: 15px;
    margin: 10vh;
}

h3 {
    color: var(--white);
    margin: 20px 0px 20px 0px;
}

p {
    font-size: 18px;
    color: var(--softBlue);
    font-weight: 300;
    margin: 20px 0px 20px 0px;
}

.ethereum-quantity {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid var(--darkBlue);
    padding-bottom: 20px;
}

.ethereum {
    display: flex;
    color: var(--cyan);
    font-weight: 600;
}

svg {
    margin-right: 8px;
}

.time-remain {
    display: flex;
    color: var(--softBlue);
    font-weight: 400;
}


.profile {
    color: var(--softBlue);
    display: flex;
    align-items: center;
    border-top: 5px var(--white);
}

a {
    color: white;
    text-decoration: none;
}

.profile img {
    width: 30px;
    margin-right: 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
}